// /* Color Theme Swatches in Hex */
// $Treasurana---Geocaching-App-1-hex: #267365;
// $Treasurana---Geocaching-App-2-hex: #F2CB05;
// $Treasurana---Geocaching-App-3-hex: #F29F05;
// $Treasurana---Geocaching-App-4-hex: #F28705;
// $Treasurana---Geocaching-App-5-hex: #F23030;

// /* Color Theme Swatches in RGBA */
// $Treasurana---Geocaching-App-1-rgba: rgba(37,114,100, 1);
// $Treasurana---Geocaching-App-2-rgba: rgba(242,202,4, 1);
// $Treasurana---Geocaching-App-3-rgba: rgba(242,159,4, 1);
// $Treasurana---Geocaching-App-4-rgba: rgba(242,135,4, 1);
// $Treasurana---Geocaching-App-5-rgba: rgba(242,48,48, 1);

// /* Color Theme Swatches in HSLA */
// $Treasurana---Geocaching-App-1-hsla: hsla(168, 50, 29, 1);
// $Treasurana---Geocaching-App-2-hsla: hsla(50, 96, 48, 1);
// $Treasurana---Geocaching-App-3-hsla: hsla(39, 96, 48, 1);
// $Treasurana---Geocaching-App-4-hsla: hsla(33, 96, 48, 1);
// $Treasurana---Geocaching-App-5-hsla: hsla(0, 88, 56, 1);

$pink: #CAAFD0;
$darkPink: #CC7295;
$lightPink: #EFA9A9;
$hardal: #DBE1B5;
$olive: #75957D;
